

// <v-app id="inspire">
//             <v-alert style='position: fixed; left: 50%; bottom: 50px; transform: translate(-50%, -50%); margin: 0 auto;'
//                 :value="alertShow" elevation="8" :type="alertType" transition="scale-transition" shaped dense width=300>
//                 @{{ alertMessage }}
//             </v-alert>
//             <v-tabs vertical dark>
//                 <v-tab>
//                     <v-icon left>
//                         mdi-account
//                     </v-icon>
//                     Klijenti
//                 </v-tab>
//                 <v-tab>
//                     <v-icon left>
//                         mdi-format-list-numbered
//                     </v-icon>
//                     Računi
//                 </v-tab>

//                 <v-tab-item>
//                     <klijentiDT></klijentiDT>
//                 </v-tab-item>

//                 <v-tab-item>

//                 </v-tab-item>
//         </v-app>


<template>
	<div id="app">
		<h1>My Todo App!</h1>
		<TodoList/>
	</div>
</template>

<script>
import TodoList from './components/TodoList.vue'

export default {
	components: {
		TodoList
	}
}
</script>

<style lang="scss">
@import './variables.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

#app {
	max-width: 400px;
	margin: 0 auto;
	line-height: 1.4;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $vue-blue;
}

h1 {
	text-align: center;
}
</style>
